@font-face {
  font-family: "Inter";
  src: url(public/fonts/Inter/Inter-VariableFont.ttf);
  font-weight: 100 200 300 400 500 600 700 800;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(public/fonts/Inter/Inter-Italic-VariableFont.ttf);
  font-weight: 100 200 300 400 500 600 700 800;
  font-style: italic;
}
.desktopWrapper {
  display: flex;
  flex: auto;
}
.mobile-block {
  display: none;
}
@media (max-width: 1279px) {
  .desktopWrapper {
    display: none;
  }
  .mobile-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    font-size: 1.5rem;
    background: rgb(252, 252, 252);
    color: rgb(34, 34, 34);
  }
}

html {
  font-family: "Inter", sans-serif;
}
body {
  background-color: rgb(252, 252, 252);

  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;

  height: 100vh;
}
#popUp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background-color: rgba(7, 119, 106, 0.9);
  width: 100%;
}
#popUpLink {
  color: rgb(34, 34, 34);
  text-decoration: underline;
}
#popUpLink:hover {
  color: rgba(252, 252, 252, 1);
}

/*  Side Nav */
.sidenav {
  width: 249px;
  height: 100%;

  position: relative;
  display: flex;
  flex-direction: column;

  border-right: 1px solid rgb(148, 148, 148);
}

.logo {
  height: 100px;

  position: relative;

  border-bottom: 1px solid rgb(148, 148, 148);
}

.logoImage {
  height: 30px;
  width: 162px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin-top: -15px;
  margin-left: -81px;
}

.sideMenu {
  margin: 40px 32px 0 32px;
  padding: 0px;
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: auto;

  list-style: none;
}

.sideMenuItem {
  display: flex;
  align-items: center;
  gap: 12px;
}

.sideMenuIcon {
  width: 32px;
  height: 32px;
}

.profile {
  width: 168px;
  height: 48px;
  padding: 15px;

  display: flex;
  position: relative;
  gap: 6px;
  margin: auto;
  margin-bottom: 20px;

  border: 1px solid rgb(178, 178, 178);
  border-radius: 15px;
}

.avatar {
  position: relative;
  display: flex;

  gap: 8px;
}

.avatarName {
  width: 102px;

  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 2px;
}

.avatarImage {
  width: 40px;
  height: 40px;

  margin: auto;

  border-radius: 20px;
}

.paginationIcon {
  transform: rotate(180deg);
  padding-bottom: 4px;
}

/*  Dashboard */
.dashboardWrapper {
  display: flex;
  flex-direction: column;
  flex: auto;

  padding: 48px;
  gap: 32px;
}
.dashboardKPI {
  display: flex;
  align-items: flex-end;
  gap: 4px;
}
/* Header */
.dashboardHeader {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  justify-content: space-between;

  padding: 32px;

  border-radius: 20px;

  background-color: rgba(7, 119, 106, 1);
}
.dashboardHeaderText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.dashboardButtonsWrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}
/* Main Chart*/
.mainChart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  border-radius: 20px;
  border: 1px solid rgb(98, 98, 98);
}
.divChart {
  display: flex;
  height: 400px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
}
.headerChart {
  display: flex;
  padding-right: 32px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.headerTextChart {
  display: flex;
  padding: 12px 32px 12px 32px;
  align-items: center;
  gap: 8px;
}
#legendContactsChart::marker {
  color: rgba(127, 86, 217, 1);
  font-size: 1.4em;
}
#legendProjectsChart::marker {
  color: rgba(182, 146, 246, 1);
  font-size: 1.4em;
}
.graphChart {
  display: flex;
  justify-content: center;
  min-width: 664px;
  margin: 0 auto;
}
#lineDivChart {
  border: none;
  border-right: 1px solid rgba(178, 178, 178, 1);
  height: 320px;
}
.sideKPIChart {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 32px 64px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 1520px) {
  .sideKPIChart {
    padding: 32px 48px;
  }
}
.sideKPICardChart {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
#lineDivKPIChart {
  border: none;
  border-top: 1px solid rgba(178, 178, 178, 1);
  width: 200px;
}
/* Links */
a {
  color: rgb(34, 34, 34);
  text-decoration: none;
}
a:visited {
  color: rgb(34, 34, 34);
}
a:hover {
  color: rgb(96, 96, 96); /* when hovered */
}
a:active {
  color: rgb(50, 50, 50); /* while clicking */
}

/* Button Style 1 */
.button1 {
  display: flex;
  padding: 14px;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  border: 2px solid rgba(44, 44, 44, 0.6);
  background: rgba(240, 240, 240, 0.6);
  color: rgb(34, 34, 34);
  font-size: 16px;
}
.button1:hover {
  border: 2px solid rgba(44, 44, 44, 0.8);
  background: rgba(44, 44, 44, 0.2);
  color: rgba(252, 252, 252, 1);
}
.button1:active {
  border: 2px solid rgba(44, 44, 44, 0.8);
  background: rgba(44, 44, 44, 0.1);
  color: rgba(252, 252, 252, 1);
}
/* Button Style 2 */
.button2 {
  display: flex;
  padding: 14px 22px;
  align-items: center;

  border-radius: 20px;
  border: 2px solid rgba(242, 242, 242, 0.8);
  background: rgba(67, 67, 67, 0.3);
  font-size: 16px;
  color: rgba(252, 252, 252, 1);
}
.button2:hover {
  border: 2px solid rgba(44, 44, 44, 0.8);
  background: rgba(240, 240, 240, 0.6);
  color: rgb(34, 34, 34);
}
.button2:active {
  border: 2px solid rgba(44, 44, 44, 0.8);
  background: rgba(240, 240, 240, 0.5);
  color: rgb(34, 34, 34);
}

/*  Text */
p {
  margin: 0px;
}
.subheadingText {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
.bodyText {
  font-size: 16px;
  color: rgb(34, 34, 34);
}
.bodyTextStrong {
  font-size: 16px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}
.bodyTextSmall {
  font-size: 14px;
  color: rgb(34, 34, 34);
}
.sideMenu {
  font-size: 20px;
  text-decoration: none;
}
.KPI {
  font-size: 24px;
}
.KPIchange {
  font-size: 16px;
}

/*  Colors */
.colorBlack {
  color: rgb(34, 34, 34);
}
.colorWhite {
  color: rgba(252, 252, 252, 1);
}
.colorGreen {
  color: rgba(0, 218, 102, 1);
}
.colorGrayTertiary {
  color: rgb(98, 98, 98);
}
